<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sh.url</title>
    <link rel="stylesheet" type="text/css" href="/assets/style-base.css" /> 
</head>

<body>
    <h1 class="header"> <span>෴ sh.url</span></h1>
    <div class="url-list-container">
        <% if(locals.urls) { %>
        <div class="url-head">Current Urls</div>
        <br/>
        <table>
            <th>S.No</th>
            <th>ShortId</th>
            <th>Clicks</th>
            <th>Link</th>
            <th>Visit</th>

            <% urls.forEach((url, key) => { %>
                <tr> 
                    <td style="text-align: right; padding-right: 5px;"><%= key + 1 %></td>
                    <td><%= url.shortId %> </td>
                    <td style="text-align: center;"><%= url.visitHistory.length %></td>
                    <td><%= url.redirectUrl %> </td>
                    <td><a class="link" href="http://localhost:8000/url/<%= url.shortId %>" target="_blank" rel="noopener noreferrer"> http://localhost:8000/url/<%= url.shortId %> </a></td>
                </tr>
            <%  }) %>
        </table>
        <% } %>
    </div>
</body>
</html>