<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sh.url</title>
</head>
<style>
    body {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        background: #000;
        color: whitesmoke;
        padding: 0;
        margin: 0;
    }

    td{
        padding: 0.4rem;
    }

    .header {
        background-color: #74526C;
        margin: 0;
        padding: 0.5rem;
    }
    
    .header > span:hover, .url-head:hover{
        color: #FFD9CE;
        cursor: pointer;
    }

    .url-list-container {
        padding: 0.5rem;
    }

    .url-head {
        border-bottom: 1px solid whitesmoke;
        font-size: 1.5rem;
        width: 50%;
        padding: 5px;
        font-weight: bold;
    }

    .link{
        color: #FFD9CE;
    }
    .link:hover{
        color: #ac86a3;
    }

</style>
<body>
    <h1 class="header"> <span>෴ sh.url</span></h1>
    <div class="url-list-container">
        <% if(locals.urls) { %>
        <div class="url-head">Current Urls</div>
        <br/>
        <table>
            <th>S.No</th>
            <th>ShortId</th>
            <th>Clicks</th>
            <th>Link</th>
            <th>Visit</th>

            <% urls.forEach((url, key) => { %>
                <tr> 
                    <td style="text-align: right; padding-right: 5px;"><%= key + 1 %></td>
                    <td><%= url.shortId %> </td>
                    <td style="text-align: center;"><%= url.visitHistory.length %></td>
                    <td><%= url.redirectUrl %> </td>
                    <td><a class="link" href="http://localhost:8000/url/<%= url.shortId %>" target="_blank" rel="noopener noreferrer"> http://localhost:8000/url/<%= url.shortId %> </a></td>
                </tr>
            <%  }) %>
        </table>
        <% } %>
    </div>
</body>
</html>